<!DOCTYPE html>
<html>

<head>
    <title>
        S3 Upload Example
    </title>
</head>

<body>
    <h1>S3 Upload Example</h1>

    <!-- Allow multiple file selections -->
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="adharcard">Adhar Card:</label>
        <input type="file" name="adharcard"><br>

        <label for="pancard">PAN Card:</label>
        <input type="file" name="pancard"><br>

        <label for="profilephoto">Profile Photo:</label>
        <input type="file" name="profilephoto"><br>

        <label for="rationcard">Ration Card:</label>
        <input type="file" name="rationcard"><br>

        <button type="submit">Upload</button>
    </form>
</body>

</html>
