<%- include('./Components/Header.ejs') %>
    <%- include('./Components/Navbar.ejs') %>

        <div class="container">
            <!-- {/* 1st Row */} -->
            <div class='container my-5 row'>
                <!-- {/* 1st box */} -->
                <div class="info-box bg-primary col mx-3">
                    <span class="info-box-icon"><i class="fa-solid fa-comment-sms fa-2xl"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">SMS Wallet</span>
                        <span class="info-box-number">410</span>
                    </div>
                </div>
                <!-- {/* 2nd box */} -->
                <div class="info-box bg-dark col mx-3">
                    <span class="info-box-icon"><i class="fa-solid fa-money-bill-1-wave fa-2xl"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Transfer Wallet Balance</span>
                        <span class="info-box-number">192823 INR</span>
                    </div>
                </div>
                <!-- {/* 3rd box */} -->
                <div class="info-box bg-primary col mx-3">
                    <span class="info-box-icon"><i class="fa-solid fa-credit-card fa-2xl"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Card Wallet</span>
                        <span class="info-box-number">Disabled</span>
                    </div>
                </div>
                <!-- {/* 4th box */} -->
                <div class="info-box bg-dark col mx-3">
                    <span class="info-box-icon"><i class="fa-solid fa-mobile-screen-button fa-2xl"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Mobile Recharge Wallet</span>
                        <span class="info-box-number">Disabled</span>
                    </div>
                </div>
            </div>

            <!-- {/* 2nd Row */} -->
            <div class='container my-3 row'>
                <div class=" col mx-3 small-box bg-gradient-primary">
                    <div class="inner">
                        <h4>Branches</h4>
                        <h2>3</h2>
                    </div>
                    <div class="icon">
                        <i class="fas fa-building-columns"></i>
                    </div>
                    <a href="/branches" class="small-box-footer">
                        <i class="fas fa-circle-info"></i> More info
                    </a>
                </div>

                <div class="col mx-3 small-box bg-gradient-dark">
                    <div class="inner">
                        <h4>Membership</h4>
                        <h2>1200</h2>
                    </div>
                    <div class="icon">
                        <i class="fas fa-users"></i>
                    </div>
                    <a href="/member" class="small-box-footer">
                        <i class="fas fa-circle-info"></i> More info
                    </a>
                </div>


                <div class=" col mx-3 small-box bg-gradient-primary">
                    <div class="inner">
                        <h4>Total Deposit Accounts</h4>
                        <h2>999</h2>
                    </div>
                    <div class="icon">
                        <i class="fas fa-hand-holding-dollar"></i>
                    </div>
                    <a href="/deposit-account-list" class="small-box-footer">
                        <i class="fas fa-circle-info"></i> More info
                    </a>
                </div>

                <div class=" col mx-3 small-box bg-gradient-dark">
                    <div class="inner">
                        <h4>Total Loan Accounts</h4>
                        <h2>112</h2>
                    </div>
                    <div class="icon">
                        <i class="fas fa-hand-holding-dollar fa-flip-vertical"></i>
                    </div>
                    <a href="/loan-account-list" class="small-box-footer">
                        <i class="fas fa-circle-info"></i> More info
                    </a>
                </div>
            </div>

            <!-- {/* 3rd Row */} -->
            <div class='container my-3 row'>
                <div class=" col mx-3 small-box bg-gradient-primary">
                    <div class="inner">
                        <h4>Saving Accounts</h4>
                        <h2>910</h2>
                    </div>
                    <div class="icon">
                        <i class="fas fa-coins"></i>
                    </div>
                    <a href="/branches" class="small-box-footer">
                        <i class="fas fa-circle-info"></i> More info
                    </a>
                </div>

                <div class="col mx-3 small-box bg-gradient-dark">
                    <div class="inner">
                        <h4>FD Accounts</h4>
                        <h2>621</h2>
                    </div>
                    <div class="icon">
                        <i class="fas fa-hand-holding-dollar"></i>
                    </div>
                    <a href="/members_list" class="small-box-footer">
                        <i class="fas fa-circle-info"></i> More info
                    </a>
                </div>


                <div class=" col mx-3 small-box bg-gradient-primary">
                    <div class="inner">
                        <h4>MIS Accounts</h4>
                        <h2>182</h2>
                    </div>
                    <div class="icon">
                        <i class="fas fa-money-check-dollar"></i>
                    </div>
                    <a href="/deposit-account-list" class="small-box-footer">
                        <i class="fas fa-circle-info"></i> More info
                    </a>
                </div>

                <div class=" col mx-3 small-box bg-gradient-dark">
                    <div class="inner">
                        <h4>Pigmy</h4>
                        <h2>112</h2>
                    </div>
                    <div class="icon">
                        <i class="fas fa-piggy-bank"></i>
                    </div>
                    <a href="/loan-account-list" class="small-box-footer">
                        <i class="fas fa-circle-info"></i> More info
                    </a>
                </div>
            </div>
        </div>
        <%- include('./Components/Footer.ejs') %>
